---
import Image from '@/components/Image'
import Link from '@/components/Link'

import bookmarkedImage from '../../assets/project_bookmarked.jpeg'
import { ArrowRight } from '../icons/ArrowRight'

interface Props {
  year: string
  title: string
  description: string
  href: string
}

const { year, title, description, href } = Astro.props
---

<Link href={href} class='group space-y-6'>
  <Image
    src={bookmarkedImage}
    alt='Bookmarked Notion page'
    transition:name='ass'
    class='transition-all duration-800 group-hover:scale-105'
    wrapperClass='h-[200px] rounded-lg overflow-clip'
  />
  <div class='flex flex-col gap-4'>
    <p>{year}</p>
    <!-- should we use heading here? -->
    <h4 class='text-lg font-semibold tracking-wide max-sm:text-lg'>
      {title}
    </h4>
    <p class='text-sm tracking-wide text-gray-400'>
      {description}
    </p>
    <div class='flex items-center gap-1 text-emerald-300'>
      <p
        class:list={[
          'relative pr-0.5 text-sm',
          "after:absolute after:left-0 after:top-1/2 after:w-0 after:content-['']",
          'after:mt-3 after:h-[1.5px] after:bg-emerald-400 after:transition-all after:duration-300',
          'group-hover:after:w-full'
        ]}
      >
        Read more
      </p>
      <ArrowRight className='transition-all duration-300 group-hover:ml-1' />
    </div>
  </div>
</Link>
