---
import type { SVGProps } from 'react'

import { getCustomTransition } from '@/lib/customTransition'

export interface Props {
  class?: string
  forHomePage?: boolean
  icon: (props: SVGProps<SVGSVGElement>) => JSX.Element
  section: string
  htmlTitle: string
  htmlDescription: string
}

const {
  class: className,
  forHomePage,
  icon: Icon,
  section,
  htmlTitle: title,
  htmlDescription: description
} = Astro.props

const Title = forHomePage ? 'h2' : 'h1'
const Description = forHomePage ? 'h3' : 'h2'
const Container = forHomePage ? 'div' : 'section'
---

<Container class:list={['space-y-6', className]}>
  <div
    transition:animate={getCustomTransition()}
    class='flex w-fit items-center gap-2 rounded-full bg-emerald-950/55 px-4 py-2 text-emerald-300'
  >
    <Icon />
    <Title class='text-sm font-medium tracking-wide max-sm:text-xs'
      >{section}</Title
    >
  </div>
  <Description
    set:html={title}
    transition:animate={getCustomTransition(0.1)}
    class='font-heading text-[clamp(2rem,7vw,3rem)] font-semibold leading-none'
  />
  <p
    class='text-zinc-400 max-md:text-sm'
    transition:animate={getCustomTransition(0.2)}
    set:html={description}
  />
</Container>
