---
import type { MarkdownHeading } from 'astro'
import type { InferEntrySchema } from 'astro:content'

import AuthorCard from '@/components/AuthorCard.astro'
import { ArrowOutward } from '@/components/icons/ArrowOutward'
import { ArrowRight } from '@/components/icons/ArrowRight'
import Image from '@/components/Image'
import Link, { LinkArticle } from '@/components/Link'
import TableOfContent from '@/components/TableOfContent'
import ScrollProgressBar from '@/components/ui/scroll-progress-bar'
import { BASE_URL } from '@/lib/baseUrl'
import { formatDateByTimeZone, getTransitionName } from '@/lib/utils'

// import MoreProjectCard from '@/pages/projects/_components/MoreProjectCard.astro'
import BaseLayout from './BaseLayout.astro'

interface Props extends InferEntrySchema<'projects'> {
  headings: MarkdownHeading[]
  slug: string
}

const {
  year,
  description,
  heroImage,
  links,
  contributors,
  title,
  headings,
  slug,
  updatedDate,
  latestCommitUrl
} = Astro.props

const htmlTitle = title.replace(
  '\\n',
  "<br class='max-md:hidden' /><span class='md:hidden'>&nbsp;</span>"
)
---

<BaseLayout
  title={title.replace('\\n', ' ')}
  imageUrl={`${BASE_URL}/api/og/${slug}`}
  description={description}
  class='!max-w-[1024px] space-y-12'
>
  <slot name='head' slot='head' />
  <ScrollProgressBar type='bar' strokeSize={1} client:only='react' />
  <section class='space-y-4 sm:pt-24'>
    <h2 class='text-lg leading-tight'>
      {year}
    </h2>
    <h1
      class='font-heading text-[clamp(24px,5vw,40px)] font-semibold leading-[1.05] tracking-tight'
      set:html={htmlTitle}
      transition:name={getTransitionName(title, 'title')}
    />
    <h3 class='text-slate-300/90 max-sm:text-sm'>
      {description}
    </h3>
    <!-- {
      links.length > 1 && (
        <ul class='flex flex-wrap gap-2 pt-4 sm:gap-4'>
          {links.map(({ icon, url, name }) => {
            const Icon = PROJECT_ICONS[icon as ProjectIcon]
            return (
              <li>
                <Link
                  href={url}
                  target='_blank'
                  class:list={[
                    'flex items-center gap-2 rounded-lg text-sm text-slate-300 max-sm:text-xs',
                    'border border-slate-600 px-3 py-2',
                    'bg-gradient-to-t from-slate-800/50 to-slate-800/0',
                    'transition-all duration-200 hover:border-slate-500 hover:from-slate-800'
                  ]}
                >
                  <Icon className='size-4' /> {name}
                </Link>
              </li>
            )
          })}
        </ul>
      )
    } -->
  </section>
  <section>
    <Image
      src={heroImage}
      alt='Bookmarked Notion page'
      wrapperProps={{ class: ' rounded-lg' }}
      class='w-full sm:aspect-[2/1]'
      transition:name={getTransitionName(title, 'image')}
      ambientMode
    />
  </section>
  <section class='flex w-full gap-16'>
    <article class='prose-a:gradient-text prose prose-invert max-w-none'>
      <slot />
      {
        // prettier-ignore
        updatedDate && (
          <p class='mt-16 text-sm text-slate-400/90'>
            Last updated on {formatDateByTimeZone(updatedDate)} UTC+7.
            {latestCommitUrl && 
            <LinkArticle href={latestCommitUrl}>
                See Changelog
                <ArrowOutward className='inline-block size-3 text-[var(--accent-color-2)]' />
              </LinkArticle>}
          </p>
        )
      }
    </article>

    <aside class='w-[220px] shrink-0 space-y-8 max-[880px]:hidden'>
      <AuthorCard />
      <TableOfContent headings={headings} className='sticky top-16' />
    </aside>
  </section>
  <section>
    <!-- <div class='mb-12 grid gap-6 max-lg:mx-auto md:grid-cols-2'>
      <MoreProjectCard {...Astro.props} />
      <MoreProjectCard {...Astro.props} />
    </div> -->
    <Link href='/projects' styled hoverStyled hoverEffectStartPosition={24}>
      <ArrowRight
        className='mr-2 inline-block size-4 -scale-x-100 text-[var(--accent-color-1)]'
      />Explore more projects</Link
    >
  </section>
</BaseLayout>

<style is:global>
  h2,
  h3,
  h4 {
    scroll-margin: 4rem;
  }

  .project-heading > a {
    opacity: 0;
    color: var(--accent-color-1);
    transition: all 200ms ease-in-out;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 4px;
  }

  .project-heading:hover > a {
    opacity: 1;
  }

  article > p a {
    text-decoration: none !important;
    text-underline-offset: 0px !important;
    transition: text-underline-offset 0.15s ease-out;

    &:hover {
      text-decoration: underline !important;
      text-decoration-thickness: 1px !important;
      text-decoration-style: dashed !important;
      text-decoration-color: rgba(255, 255, 255, 0.7) !important;
      text-underline-offset: 5px !important;
    }
  }
</style>

<script>
  const handleHeadingIntersection = () => {
    const observerOptions: IntersectionObserverInit = {
      root: null,
      rootMargin: '0px 0px -80% 0px', // Adjust to make the top 20% of the viewport observe entries
      threshold: 0 // Trigger as soon as they enter the viewport
    }

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (!entry.isIntersecting) return

        const id = entry.target.getAttribute('id')
        const link = document.querySelector(`li > a[href="#${id}"]`)
        const textStyle = 'text-slate-300'

        document
          .querySelectorAll(`.${textStyle}`)
          .forEach((item) => item.classList.remove(textStyle))

        link?.classList.add(textStyle)
      })
    }, observerOptions)

    document.querySelectorAll('h2[id], h3[id], h4[id]').forEach((heading) => {
      observer.observe(heading)
    })
  }

  document.addEventListener('astro:page-load', handleHeadingIntersection)
</script>
