---
import type { MarkdownHeading } from 'astro'
import type { InferEntrySchema } from 'astro:content'

import { Group } from '@/components/icons/Group'
import Image from '@/components/Image'
import Link from '@/components/Link'
import TableOfContent from '@/components/TableOfContent'
import { PROJECT_ICONS, type ProjectIcon } from '@/content/_icons'

import BaseLayout from './BaseLayout.astro'

interface Props extends InferEntrySchema<'projects'> {
  headings: MarkdownHeading[]
}

const {
  year,
  description,
  heroImage,
  links,
  numberOfTeamMembers,
  title,
  headings
} = Astro.props

const htmlTitle = title.replace(
  '\\n',
  "<br class='max-md:hidden' /><span class='md:hidden'>&nbsp;</span>"
)
---

<BaseLayout title={title.replace('\\n', ' ')} class='space-y-12'>
  <!-- <ScrollProgressBar type='bar' strokeSize={4} client:only='react' /> -->
  <section class='space-y-5 sm:pt-12'>
    <h2
      class='border-l border-l-gray-300 px-2 leading-tight tracking-wider text-gray-300'
    >
      {year}
    </h2>
    <h1
      class='whitespace-pre-wrap text-[clamp(28px,5vw,48px)] font-semibold leading-none'
      set:html={htmlTitle}
      transition:name='pls'
    />
    <h3 class='font-medium text-gray-300 max-sm:text-sm'>
      <Group className='inline-block pb-[2px]' />
      {
        numberOfTeamMembers > 1
          ? `Team of ${numberOfTeamMembers}`
          : 'Solo project'
      } &mdash; {description}
    </h3>
    {
      links.length > 1 && (
        <ul class='flex flex-wrap gap-2 pt-2 sm:gap-4'>
          {links.map(({ icon, url, name }) => {
            const Icon = PROJECT_ICONS[icon as ProjectIcon]
            return (
              <li>
                <Link
                  href={url}
                  target='_blank'
                  class:list={[
                    'flex items-center gap-2 rounded-lg text-sm tracking-wide text-gray-300 max-sm:text-xs',
                    'border border-gray-600 px-3 py-2',
                    'bg-gradient-to-t from-slate-800/50 to-gray-800/0',
                    'transition-all duration-200 hover:border-gray-500 hover:from-slate-800'
                  ]}
                >
                  <Icon className='size-4' /> {name}
                </Link>
              </li>
            )
          })}
        </ul>
      )
    }
  </section>
  <section>
    <Image
      src={heroImage}
      alt='Bookmarked Notion page'
      wrapperClass='max-h-[560px] rounded-lg'
      transition:name='ass'
      ambientMode
    />
  </section>
  <section class='flex gap-20'>
    <article
      class:list={[
        'max-w-[720px] space-y-6 tracking-wide',
        'prose max-sm:prose-sm dark:prose-invert'
      ]}
    >
      <slot />
    </article>

    <aside class='sticky top-12 w-full self-start max-lg:hidden'>
      <TableOfContent headings={headings} client:only='react' />
    </aside>
  </section>
</BaseLayout>

<style is:global>
  h2,
  h3,
  h4 {
    scroll-margin: 4rem;
  }
</style>
