---
import { Group } from '@/components/icons/Group'
import Image from '@/components/Image'
import Link from '@/components/Link'
import ScrollProgressBar from '@/components/ui/scroll-progress-bar'
import { PROJECT_ICONS, type ProjectIcon } from '@/content/_icons'
import type { ProjectProps } from '@/content/_schemas/project'

import BaseLayout from './BaseLayout.astro'

interface Props extends ProjectProps {}

const { year, description, heroImage, links, numberOfTeamMembers, title } =
  Astro.props
---

<BaseLayout title={title.replace('\\n', ' ')} class='space-y-12'>
  <ScrollProgressBar type='bar' strokeSize={4} client:only='react' />
  <section class='space-y-5 sm:pt-12'>
    <h2
      class='border-l border-l-gray-300 px-2 leading-tight tracking-wider text-gray-300'
    >
      {year}
    </h2>
    <h1
      class='whitespace-pre-wrap text-[clamp(28px,5vw,48px)] font-bold leading-none'
      set:html={title.replace('\\n', "<br class='max-md:hidden' />")}
      transition:name='pls'
    />
    <h3 class='font-medium tracking-wide text-gray-300 max-sm:text-sm'>
      <Group className='inline-block pb-[2px]' />
      {
        numberOfTeamMembers > 1
          ? `Team of ${numberOfTeamMembers}`
          : 'Solo project'
      } &mdash; {description}
    </h3>
    {
      links.length > 1 && (
        <ul class='flex flex-wrap gap-2 pt-2 sm:gap-4'>
          {links.map(({ icon, url, name }) => {
            const Icon = PROJECT_ICONS[icon as ProjectIcon]
            return (
              <li>
                <Link
                  href={url}
                  target='_blank'
                  class:list={[
                    'flex items-center gap-2 rounded-lg text-sm tracking-wider text-gray-300 max-sm:text-xs',
                    'border border-gray-600 px-3 py-2',
                    'bg-gradient-to-t from-slate-800/50 to-gray-800/0',
                    'transition-all duration-200 hover:border-gray-500 hover:from-slate-800'
                  ]}
                >
                  <Icon className='size-4' /> {name}
                </Link>
              </li>
            )
          })}
        </ul>
      )
    }
  </section>
  <section>
    <Image
      src={heroImage}
      alt='Bookmarked Notion page'
      wrapperClass='max-h-[560px] rounded-lg'
      transition:name='ass'
      ambientMode
    />
  </section>
  <section class='flex justify-between'>
    <article
      class:list={[
        'max-w-[720px] space-y-6 tracking-wide',
        'dark:prose-invert prose max-sm:prose-sm'
      ]}
    >
      <slot />
    </article>
    <aside
      class='sticky top-8 max-w-[400px] space-y-3 self-start max-lg:hidden'
    >
      <p class='text-lg font-medium'>Table of contents</p>
      <ul class='space-y-2 text-sm tracking-wider text-slate-500'>
        <li>
          <a href='#section-1'>Background</a>
        </li>
        <li>
          <a href='#section-2'>Problem</a>
        </li>
        <li>
          <a href='#section-3'>Tech stacks choosen and why</a>
          <ul class='mt-2 space-y-2 pl-6'>
            <li>Backend: Nestjs</li>
            <li class='text-slate-300'>Frontend: Nextjs</li>
          </ul>
        </li>
        <li>
          <a href='#section-4'>Demo</a>
        </li>
        <li>
          <a href='#section-4'>Challenges</a>
        </li>
        <li>
          <a href='#section-4'>Lesson learned</a>
        </li>
      </ul>
    </aside>
  </section>
</BaseLayout>
